
/*GLOBAL*/

* {
	padding: 0;
	margin: 0;
}
body {
	background: url('../img/background.jpg') center top no-repeat;
	background-attachment: fixed;
}
@font-face {
    font-family: 'League Gothic Regular';
    src: url('../font/LeagueGothicRegular/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../font/LeagueGothicRegular/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'open_sanslight';
    		src: url('../font/opensanslight/opensans-light-webfont.eot');
    		src: url('../font/opensanslight/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         	url('../font/opensanslight/opensans-light-webfont.woff2') format('woff2'),
         	url('../font/opensanslight/opensans-light-webfont.woff') format('woff'),
         	url('../font/opensanslight/opensans-light-webfont.ttf') format('truetype');
}
@font-face {
	font-family: 'open_sanslight';
    		src: url('../font/opensanslight/opensans-light-webfont.eot');
    		src: url('../font/opensanslight/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         	url('../font/opensanslight/opensans-light-webfont.woff2') format('woff2'),
         	url('../font/opensanslight/opensans-light-webfont.woff') format('woff'),
         	url('../font/opensanslight/opensans-light-webfont.ttf') format('truetype');
         }

@media (min-width: 100px) and (max-width: 320px) {

	.wrapper {
		min-width: 320px;
		margin: 0 auto;
		position: relative;
	}
	.header {
		margin: 0 auto;
		display: block;
		height: 518px;
	}
	.logo {
		display: block;
		width: 150px;
		height: 37px;
		margin: 0 auto;
		padding: 70px 0 0 0;
	}
	.box-menu {
		display: block;
		width: 246px;
		margin: 30px auto 0;
		z-index: 1;
		position: relative;
	}
	.menu-show {
		display: table;
	}
	.menu {
		display: none;
		width: 246px;
		position: absolute;
		top: 0;
		border: 1px solid #0f1a1f;
		list-style: none;
		background: rgba(61, 48, 69, 0.9);
		border-radius: 14px;
	}
	.menu-item {
		border-top: 1px solid #5f486a;
		border-bottom: 1px solid #36283e;
		height: 40px;
	}
	.menu-item:first-child {
		border-radius: 14px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	.menu-item:last-child {
		border-radius: 14px;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
	.menu-show,
	.menu-item:first-child a {
		font-family: 'League Gothic Regular', Tahoma, Arial, sans-serif;
		color: #fff;
		font-size: 24px;
		padding: 2px;
		text-decoration: none;
		border-bottom: 2px solid #edbfff;
		display: table;
		margin: 0 auto;
		text-shadow: 0px 0px 27px rgba(255, 255, 255, 1);
	}
	.menu-item a {
		font-family: 'League Gothic Regular', Tahoma, Arial, sans-serif;
		color: #fff;
		font-size: 24px;
		padding: 3px;
		text-decoration: none;
		display: block;
		margin: 0 auto;
		text-decoration: none;
		text-align: center;
	}
	.menu-show:hover+.menu {
		display: block;
	}
	.menu-item a:hover {
		border-bottom: 2px solid #edbfff;
		display: table;
		padding: 2px;
		text-shadow: 0px 0px 27px rgba(255, 255, 255, 1);
	}
	.menu-item:hover {
		background: rgba(43,33,50, 0.3);
	}
	.box-menu:hover .menu-show {
		opacity: 0;
	}
	.box-menu:hover .menu {
		display: block;
	}
	.iphone {
		display: none;
	}
	.slider-item-text {
		display: none;
	}
	.slider {
		position: relative;
		display: block;
		width: 280px;
		margin: 120px auto 0;
	}
	.slider-overflow {
		display: block;
		width: 280px;
		overflow: hidden;
		/* border: 1px solid black; */
	}
	.slider-wrapper {
		width: 400%;
		display: table;
	}
	.slider-item {
		display: table;
		width: 240px;
		padding: 0 0 0 40px;
		float: left;
	}
	.slider-item-link {
		text-decoration: none;
		text-shadow: 0px 2px 2px rgba(149, 150, 150, 1);
	}
	.slider-item-head {
		text-align: left;
		font-family: 'League Gothic Regular', Tahoma, Arial, sans-serif;
		font-size: 36px;
		color: #fefefe;
	}
	.slider-item-title {
		text-align: left;
		font-family: 'League Gothic Regular', Tahoma, Arial, sans-serif;
		font-size: 16px;
		color: #edbfff;
	}
	.slider-input {
		display: none;
		float: left;
		margin: 0 0 0 0;
		/*position: absolute;*/
	}
	#slider-input__box-arrows {
		position: absolute;
		top: 12px;
		display: block;
		width: 100%;
		height: 42px;
		/* border: 1px solid black; */
	}
	#link1:checked ~ #slider-input__box-arrows label:nth-child(2),
	#link2:checked ~ #slider-input__box-arrows label:nth-child(3),
	#link3:checked ~ #slider-input__box-arrows label:nth-child(4),
	#link4:checked ~ #slider-input__box-arrows label:nth-child(1) {
		width: 30px;
		height: 42px;
		float: right;
		margin: 0 -18px 0 0;
		display: block;
		background-image: url(../img/arrowright.png);
		background-repeat: no-repeat;
		cursor: pointer;
	}
	#link1:checked ~ #slider-input__box-arrows label:nth-child(4),
	#link2:checked ~ #slider-input__box-arrows label:nth-child(1),
	#link3:checked ~ #slider-input__box-arrows label:nth-child(2),
	#link4:checked ~ #slider-input__box-arrows label:nth-child(3) {
		width: 30px;
		height: 42px;
		float: left;
		margin: 0 0 0 -18px;
		display: block;
		background-image: url(../img/arrowleft.png);
		background-repeat: no-repeat;
		cursor: pointer;
	}
	#slider-input__box-radio {
		display: table;
		margin: 75px auto 0;
	}
	#slider-input__box-radio label {
		cursor: pointer;
		display: inline-block;
		height: 17px;
		width: 17px;
		background-color: #6a6572;
		border-radius: 50%;
		opacity: 0.6;
		margin: 0 2px 0 2px;
	}
	#slider-input__box-radio label:hover,
	#link1:checked ~ #slider-input__box-radio label:nth-of-type(1),
	#link2:checked ~ #slider-input__box-radio label:nth-of-type(2),
	#link3:checked ~ #slider-input__box-radio label:nth-of-type(3),
	#link4:checked ~ #slider-input__box-radio label:nth-of-type(4) {
		background-image: url(../img/check.png);
		background-position: center;
		background-repeat: no-repeat;
		transition: background ease-in-out .2s;
	}
	#link1:checked ~ .slider-overflow .slider-wrapper {
		margin: 0 0 0 0;
		transition: 1s;
	}
	#link2:checked ~ .slider-overflow .slider-wrapper {
		margin: 0 0 0 -100%;
		transition: 1s;
	}
	#link3:checked ~ .slider-overflow .slider-wrapper {
		margin: 0 0 0 -200%;
		transition: 1s;
	}
	#link4:checked ~ .slider-overflow .slider-wrapper {
		margin: 0 0 0 -300%;
		transition: 1s;
	}

	/*SECTION*/

	.section {
		display: block;

		clear: both;
		width: 100%;
		height: 598px;
		border-top: 1px solid #35273c;
		border-bottom: 1px solid #21333b;
		/*z-index: 33;*/
		overflow: hidden;
		/*box-shadow-bottom: 0px 2px 18px -1px rgba(0,0,0,0.75);*/
		background-image: -webkit-linear-gradient(bottom, #322539, #745083);
		background-image: -moz-linear-gradient(bottom, #322539, #745083);
		background-image: -o-linear-gradient(bottom, #322539, #745083);
		background-image: -ms-linear-gradient(bottom, #322539, #745083);
		background-image: linear-gradient(to top, #322539, #745083);
	}
	.section-item {
		display: block;
		width: 280px;
		margin: 0 auto;
	}
	.section-item-image {
		display: block;
		float: left;
		width: 30px;
		height: 31px;
		margin: 0px 8px 0 8px;
	}
	.section-item-text {
		display: block;
		float: left;
		width: 196px;
		height: 104px;
		overflow: hidden;
		margin: 0 0 20px 20px;
	}
	.section-item-text-link {
		font-size: 18px;
		margin: 0 0 20px 0;
		clear: both;
		height: 26px;
	}
	.section-item-text-link a {
		text-decoration: none;
		color: #fff;
		float: right;
	}
	.section-item-text-link a:hover {
		text-shadow: 0 0 8px rgba(255,255,255,.8);
	}
	.section-item-text-link,
	.section-item-text-head {
		font-family: 'League Gothic Regular', Tahoma, Arial, sans-serif;
    	font-weight: normal;
    	font-style: normal;
		color: #fff;
		text-shadow: 1px 1px #0f1518;
	}
	.section-item-text-content {
		font-family: 'open_sanslight', Tahoma, Arial, sans-serif;
	    font-weight: normal;
	    font-style: normal;
	    line-height: 26px;
	    font-size: 16px;
	    color: #fff;
	    text-shadow: 1px 0px #0f1518;
	}
	.section-item-text-head {
		font-size: 24px;
	}
	.conteiner {
		display: block;
		margin: 72px 0 0 0;
	}
	.box-line {
		display: block;
		width: 100%;
		box-sizing: border-box;
		border-bottom: 1px solid #fff;
		border-top: 1px solid #12191f;
		box-shadow: 0px 5px 10px 25px rgba(0,0,0,0.75);
		z-index: 1;
	}
	/*ARTICLE*/

	.container-box {
		height: 785px;
		z-index: -20;
		background: #f9f9f9;
		border-bottom: 1px solid #e6e6e6;
	}
	/*.box {
		background: #f8f8f8;
		
	}*/
	.box-position {
		padding: 69px 0 0 0;
	}
	.box-slide-overflow {
		display: block;
		width: 180px;
		height: 270px;
		overflow: hidden;
		margin: 0 auto 0;
	}
	.box-wrapper {
		display: block;
		width: 400%;
		height: 270px;
	}
	.box-item {
		width: 276px;
		display: block;
		margin:  0 0 0 10px;
	}
	.box-item-text {
		margin: 0 0 21px 26px;
		width: 256px;
		background: #fff;
	}
	.box-item-img {
		position: absolute;
		margin: 16px 0 0 4px;
	}
	.box-item-text-item {
		margin: 21px 0 0 0;
		width: 180px;
		float: left;
		height: 225px;
		overflow: hidden;
		/* padding: 0 3px 0 0; */
	}
	.box-item-text-item-1 {
		font-family: 'League Gothic Regular', Tahoma, Arial, sans-serif;
    	font-weight: normal;
    	font-style: normal;
		font-size: 24px;
		color: #454545;
	}
	.box-item-text-item-2 {
		font-family: 'League Gothic Regular', Tahoma, Arial, sans-serif;
    	font-weight: normal;
    	font-style: normal;
		font-size: 24px;
		color: #edbfff;
	}
	.box-item-text-item-3 {
		font-family: 'open_sanslight', Tahoma, Arial, sans-serif;
    	font-weight: normal;
    	font-style: normal;
    	font-size: 18px;
    	color: #454545;
    	line-height: 24px;
	}
	.form-article input {
		display: none;
	}
	.box-input {
		display: table;
		margin: 0 auto;
		height: 18px;
	}
	.box-input label {
		display: inline-block;
		cursor: pointer;
		width: 16px;
		height: 16px;
		border: 1px solid #e7e7e7;
		border-radius: 50%;
		margin: 0 2px 0 2px;
	}
	.box-input label:hover,
	#link5:checked ~ .box-input label:nth-of-type(1),
	#link6:checked ~ .box-input label:nth-of-type(2),
	#link7:checked ~ .box-input label:nth-of-type(3),
	#link8:checked ~ .box-input label:nth-of-type(4) {
		background-image: url(../img/check-2.png);
		background-position: center;
		background-repeat: no-repeat;
		transition: background ease-in-out .2s;
	}
	#link5:checked ~ .box-item .box-item-text .box-slide-overflow .box-wrapper {
		margin: 0 0 0 0;
		transition: 1s;
	}
	#link6:checked ~ .box-item .box-item-text .box-slide-overflow .box-wrapper {
		margin: 0 0 0 -100%;
		transition: 1s;
	}
	#link7:checked ~ .box-item .box-item-text .box-slide-overflow .box-wrapper {
		margin: 0 0 0 -200%;
		transition: 1s;
	}
	#link8:checked ~ .box-item .box-item-text .box-slide-overflow .box-wrapper {
		margin: 0 0 0 -300%;
		transition: 1s;
	}
	.box-item-post-img {
		clear: both;
		float: left;
	}
	.box-input {
		display: table;
		margin: 0 auto;
	}

	.box-item-post-conteiner {
		width: 300px;
		margin: 0 auto;
	}
	.box-item-post-conteiner-head {
		margin: 44px 0 5px 11px;
		font-family: 'League Gothic Regular', Tahoma, Arial, sans-serif;
    	font-weight: normal;
    	font-style: normal;
		font-size: 30px;
	}
	.box-item-post-img {
		margin: 14px 15px 4px 13px;
	}
	.box-item-post-text-1 {
		font-family: 'open_sanslight', Tahoma, Arial, sans-serif;
    font-weight: bold;
    font-style: bold;
    font-size: 18px;
	}
	.box-item-post-text-2 {
		font-family: 'open_sanslight', Tahoma, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
	}
	.box-item-post-link {
		display: block;
		text-decoration: none;
		color: #454545;
	}
	.article {
		display: none;
	}
	.box-item-post-link-bottom {
		text-decoration: none;
		font-family: 'League Gothic Regular', Tahoma, Arial, sans-serif;
    	font-weight: normal;
    	font-style: normal;
    	font-size: 18px;
    	color: #454545;
    	float: right;
    	padding: 17px 13px 0 0;
	}
	/*.article {
		margin: -3000px 0 0 0;
		position: absolute;
	}*/
	.logos-conteiner {
		background-color: #f8f8f8;
	}
	.logos {
		margin: 0 auto;
		width: 320px;
		height: 422px;
		background: url(../img/logo320.png) center top no-repeat;
	}
	.footer {
		display: block;
		width: 100%;
		height: 201px;
		background: url(../img/footer320.png) center no-repeat;
	}
	.footer-menu {
		display: table;
		height: 20px;
		position: absolute;
		margin: -5000px 0 0 0;
	}
	.footer-menu-item {
		float: left;
	}
	.copy {
		padding: 39px 0 0 1px;
		display: table;
		clear: both;
		margin: 0 auto;
		font-family: 'open_sanslight', Tahoma, Arial, sans-serif;
    	font-weight: normal;
    	font-style: normal;
    	font-size: 13px;
    	color: #fff;
    }
    #copy-link {
    	text-decoration: none;
    	font-family: 'open_sanslight', Tahoma, Arial, sans-serif;
    	font-weight: bold;
    	font-style: bold;
    	font-size: 13px;
    	color: #fff;
    }
}
