/*COLOR*/
/*FONTS*/
* {
  margin: 0;
  padding: 0; }

@media (min-width: 100px) and (max-width: 321px) {
  .header {
    width: 100%;
    height: 540px;
    overflow: hidden;
    background: url(../../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%; }
    .header .box-button {
      display: table;
      margin: 25px auto 115px; }
      .header .box-button .button {
        font-family: Montserrat;
        font-size: 14px;
        width: 90px;
        height: 36px;
        background: none;
        border: none;
        color: #fff; }
      .header .box-button .button.button--sign {
        border: 2px solid #fff;
        border-radius: 20px; }
    .header .text-head {
      font-family: Montserrat;
      color: #fff;
      margin: 0 auto 26px;
      text-align: center;
      font-size: 20px;
      display: table; }
    .header .text-head.text-head--content {
      font-size: 30px;
      text-align: center;
      margin: 20px auto 0; }
    .header .text-head.text-head--bottom {
      display: table;
      width: 250px;
      margin: 5px auto 14px;
      font-size: 18px;
      font-family: Roboto;
      text-align: center; }
    .header .button.button--find {
      display: table;
      width: 280px;
      height: 40px;
      background: #ff4e50;
      border: 1px solid #ff4e50;
      border-radius: 20px;
      font-family: Montserrat;
      color: #fff;
      font-size: 14px;
      margin: 0 auto; }

  .article .text-head.text-head--article {
    margin: 40px auto 16px;
    font-family: Montserrat;
    display: block;
    color: #333333;
    font-size: 22px;
    display: table; }
  .article .item-article {
    width: 300px;
    height: 240px;
    overflow: hidden;
    position: relative;
    margin: 0 auto 10px; }
    .article .item-article .box-1,
    .article .item-article .box-2,
    .article .item-article .box-3 {
      width: 300px;
      height: 240px; }
      .article .item-article .box-1 .button.button--step,
      .article .item-article .box-2 .button.button--step,
      .article .item-article .box-3 .button.button--step {
        margin: 88px 0 0 20px;
        width: 70px;
        height: 20px;
        border-radius: 10px;
        border: 1px solid #ff4e50;
        background: #ff4e50;
        font-family: Montserrat;
        font-weight: normal;
        color: #fff;
        font-size: 10px;
        letter-spacing: 1px; }
      .article .item-article .box-1 .text-head.text-head--title-box,
      .article .item-article .box-2 .text-head.text-head--title-box,
      .article .item-article .box-3 .text-head.text-head--title-box {
        margin: 10px 0 0 20px;
        font-size: 22px;
        color: #fff;
        font-family: Montserrat; }
      .article .item-article .box-1 .text-head.text-head--article-box,
      .article .item-article .box-2 .text-head.text-head--article-box,
      .article .item-article .box-3 .text-head.text-head--article-box {
        margin: 12px 0 0 20px;
        color: #ccc;
        font-size: 14px;
        line-height: 17px; }
      .article .item-article .box-1 .box-control-next,
      .article .item-article .box-2 .box-control-next,
      .article .item-article .box-3 .box-control-next {
        display: none; }
      .article .item-article .box-1 .box-control-prev,
      .article .item-article .box-2 .box-control-prev,
      .article .item-article .box-3 .box-control-prev {
        display: none; }
  .article .box-1 {
    background: url(../../img/background-box-1.jpg); }
  .article .box-2 {
    background: url(../../img/background-box-2.jpg); }
  .article .box-3 {
    background: url(../../img/background-box-3.jpg); }

  .middle .middle-title {
    color: #333333;
    font-family: Montserrat;
    font-size: 20px;
    margin: 36px auto 20px;
    display: table;
    text-align: center;
    width: 250px; }
  .middle .middle-box {
    margin: 10px auto 26px;
    display: table; }
    .middle .middle-box .img-box {
      width: 121px;
      height: 121px;
      margin: 0 auto;
      position: relative; }
      .middle .middle-box .img-box .face {
        position: absolute; }
      .middle .middle-box .img-box .icon {
        position: absolute;
        margin: 85px 0 0 85px; }
    .middle .middle-box .middle-title.middle-title--name {
      font-size: 14px;
      margin: 14px auto 10px; }
    .middle .middle-box .text-content {
      text-align: center;
      color: #666666;
      font-size: 14px;
      font-family: Roboto; }
  .middle .middle-button {
    margin: 0 auto 30px;
    display: block;
    width: 280px;
    height: 40px;
    box-sizing: border-box;
    background: none;
    border: none;
    border: 4px solid #ff4e50;
    border-radius: 20px;
    font-style: Montserrat;
    font-size: 14px;
    color: #ff4e50; }

  .tablet .tablet-title {
    color: #333333;
    font-family: Montserrat;
    font-size: 20px;
    margin: 30px auto;
    display: table;
    text-align: center; }
  .tablet .tablet-box {
    height: 900px;
    display: block;
    width: 320px;
    margin: 0 auto; }
    .tablet .tablet-box .grid {
      display: table;
      width: 320px; }
      .tablet .tablet-box .grid .grid-item {
        position: relative;
        display: block;
        width: 300px;
        height: 125px;
        border: 2px solid #333;
        border-color: #fff;
        border-radius: 8px;
        margin: 0 auto;
        overflow: hidden; }
        .tablet .tablet-box .grid .grid-item .grid-item--width2 {
          width: 300px; }
        .tablet .tablet-box .grid .grid-item .image {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          overflow: hidden;
          z-index: 2; }
        .tablet .tablet-box .grid .grid-item .title-image {
          color: #fff;
          position: relative;
          display: block;
          font-style: Montserrat;
          z-index: 99;
          font-size: 16px;
          margin: -70 auto 0;
          width: 140px;
          height: 30px; }
    .tablet .tablet-box .title-image {
      color: #fff;
      display: table;
      font-style: Montserrat;
      z-index: 9999;
      font-size: 22px;
      margin: -80px auto 0;
      text-align: center;
      width: 200px; }

  .form {
    border-bottom: 4px solid #ff4e50; }
    .form .form-title {
      text-align: center;
      color: #666666;
      font-size: 18px;
      font-family: Roboto; }
    .form .send {
      width: 280px;
      height: 40px;
      margin: 20px auto 10px;
      display: block;
      border: none;
      border: 1px solid #cccccc;
      border-radius: 4px;
      padding: 0 0 0 5px; }
    .form .button-form {
      display: table;
      width: 280px;
      height: 40px;
      background: #ff4e50;
      border: 1px solid #ff4e50;
      border-radius: 20px;
      font-family: Montserrat;
      color: #fff;
      font-size: 14px;
      margin: 0 auto 40px; }

  .footer .text-head {
    font-family: Montserrat;
    color: #ff4e50;
    display: table;
    margin: 20px auto 20px;
    font-size: 20px;
    letter-spacing: 1px; }
  .footer .title {
    margin: 0 auto;
    display: table;
    color: #666666;
    font-size: 14px;
    font-family: Montserrat; }
  .footer .menu {
    display: table;
    margin: 10px auto 20px; }
  .footer .menu li {
    display: inline-block;
    margin: 0 0 0 15px;
    color: #666666;
    font-size: 14px;
    font-family: Roboto; }
  .footer .menu a {
    color: #666666;
    font-size: 14px;
    font-family: Roboto;
    text-decoration: none; }
  .footer .text {
    font-size: 10px;
    display: table;
    margin: 20px auto 0;
    color: #cccccc;
    font-family: Montserrat; }
  .footer .logo-link {
    display: table;
    margin: 10px auto 20px; } }
@media (min-width: 321px) and (max-width: 761px) {
  .header {
    width: 100%;
    height: 700px;
    overflow: hidden;
    background: url(../../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center top; }
    .header .box-button {
      display: table;
      margin: 40px 20px 0 0;
      float: right; }
      .header .box-button .button {
        font-family: Montserrat;
        font-size: 14px;
        width: 90px;
        height: 36px;
        background: none;
        border: none;
        color: #fff; }
      .header .box-button .button.button--sign {
        border: 2px solid #fff;
        border-radius: 18px; }
    .header .text-head {
      font-family: Montserrat;
      color: #fff;
      display: table;
      margin: 50px 0 0 50px;
      font-size: 20px;
      letter-spacing: 1px; }
    .header .text-head.text-head--content {
      font-size: 30px;
      margin: 160px auto 0;
      text-align: center; }
    .header .text-head.text-head--bottom {
      display: table;
      margin: 20px auto;
      font-size: 18px;
      font-family: Roboto;
      text-align: center; }
    .header .button.button--find {
      display: table;
      width: 280px;
      height: 40px;
      background: #ff4e50;
      border: 1px solid #ff4e50;
      border-radius: 20px;
      font-family: Montserrat;
      color: #fff;
      font-size: 14px;
      margin: 0 auto; }

  .article {
    display: table;
    margin: 0 auto; }
    .article .text-head.text-head--article {
      margin: 40px auto 16px;
      font-family: Montserrat;
      display: block;
      color: #333333;
      font-size: 22px;
      display: table; }
    .article .item-article {
      width: 232px;
      height: 400px;
      overflow: hidden;
      float: left;
      margin: 30px 7px 100px 7px;
      position: relative; }
      .article .item-article .box-control-next,
      .article .item-article .box-control-prev {
        display: block;
        width: 30px;
        height: 56px;
        position: relative; }
        .article .item-article .box-control-next img,
        .article .item-article .box-control-prev img {
          width: 30px;
          height: 56px; }
      .article .item-article .box-control-next {
        float: right;
        margin: -300px 20px 0 0; }
      .article .item-article .box-control-prev {
        float: left;
        margin: -300px 0 0 20px; }
    .article .list {
      list-style-type: none;
      display: block;
      width: 470px;
      height: 400px;
      overflow: hidden;
      position: relative; }
      .article .list .box-1,
      .article .list .box-2,
      .article .list .box-3 {
        width: 232px;
        height: 400px; }
        .article .list .box-1 .button.button--step,
        .article .list .box-2 .button.button--step,
        .article .list .box-3 .button.button--step {
          margin: 200px 0 0 20px;
          width: 70px;
          height: 20px;
          border-radius: 10px;
          border: 1px solid #ff4e50;
          background: #ff4e50;
          font-family: Montserrat;
          font-weight: normal;
          color: #fff;
          font-size: 10px;
          letter-spacing: 1px; }
        .article .list .box-1 .text-head.text-head--title-box,
        .article .list .box-2 .text-head.text-head--title-box,
        .article .list .box-3 .text-head.text-head--title-box {
          margin: 10px 0 0 20px;
          font-size: 22px;
          color: #fff;
          font-family: Montserrat; }
        .article .list .box-1 .text-head.text-head--article-box,
        .article .list .box-2 .text-head.text-head--article-box,
        .article .list .box-3 .text-head.text-head--article-box {
          margin: 18px 0 0 20px;
          color: #ccc;
          font-size: 14px; }
      .article .list .box-1 {
        background: url(../../img/background-box-1-760.jpg);
        float: left; }
      .article .list .box-2 {
        background: url(../../img/background-box-2-760.jpg);
        float: left; }
      .article .list .box-3 {
        background: url(../../img/background-box-3-760.jpg);
        float: left; }

  .middle .middle-title {
    color: #333333;
    font-family: Montserrat;
    font-size: 20px;
    margin: 30px auto 0;
    display: table;
    text-align: center; }
  .middle .conteiner-box {
    display: block;
    margin: 0 auto;
    width: 580px; }
  .middle .middle-box {
    margin: 30px 30px 30px 30px;
    display: table;
    float: left;
    width: 230px; }
    .middle .middle-box .img-box {
      width: 121px;
      height: 121px;
      margin: 0 auto;
      position: relative; }
      .middle .middle-box .img-box .face {
        position: absolute; }
      .middle .middle-box .img-box .icon {
        position: absolute;
        margin: 85px 0 0 85px; }
    .middle .middle-box .text-content {
      text-align: center;
      color: #666666;
      font-size: 14px;
      font-family: Roboto; }
  .middle .middle-button {
    margin: 0 auto 30px;
    display: block;
    width: 280px;
    height: 40px;
    box-sizing: border-box;
    background: none;
    border: none;
    border: 4px solid #ff4e50;
    border-radius: 20px;
    font-style: Montserrat;
    font-size: 14px;
    color: #ff4e50; }

  .tablet .tablet-title {
    color: #333333;
    font-family: Montserrat;
    font-size: 20px;
    margin: 30px auto;
    display: table;
    text-align: center; }
  .tablet .tablet-box {
    height: 1000px;
    display: block;
    width: 762px;
    margin: 0 auto;
    /* clearfix */ }
    .tablet .tablet-box .grid {
      display: table;
      max-width: 760px; }
      .tablet .tablet-box .grid .grid-item {
        position: relative;
        display: block;
        width: 240px;
        height: 310px;
        float: left;
        border: 2px solid #333;
        border-color: #fff;
        border-radius: 8px;
        margin: 0 0 8px 8px;
        overflow: hidden; }
      .tablet .tablet-box .grid .grid-item--width2 {
        width: 490px; }
      .tablet .tablet-box .grid .image {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 2; }
      .tablet .tablet-box .grid .title-image {
        color: #fff;
        position: relative;
        display: block;
        font-weight: bold;
        font-style: Montserrat;
        z-index: 99;
        font-size: 22px;
        margin: -170px auto 0;
        text-align: center;
        width: 200px;
        height: 30px; }
    .tablet .tablet-box .grid:after {
      content: '';
      display: block;
      clear: both; }
  .tablet .item {
    display: block;
    float: left;
    width: 236px;
    height: 310px;
    border: 1px solid #fff;
    border-radius: 5px;
    position: relative;
    margin: 10px 5px 0 5px;
    overflow: hidden; }
    .tablet .item .image {
      display: block;
      width: 100%;
      height: 100%; }
    .tablet .item .title-image {
      color: #fff;
      position: relative;
      display: block;
      font-weight: bold;
      font-style: Montserrat;
      z-index: 99;
      font-size: 22px;
      margin: -170px auto 0;
      text-align: center;
      width: 200px;
      height: 30px; }

  .conteiner-form {
    border-bottom: 4px solid #ff4e50;
    display: block; }

  .form {
    display: table;
    margin: 0 auto; }
    .form .form-title {
      text-align: center;
      color: #666666;
      font-size: 18px;
      font-family: Roboto; }
    .form .send {
      width: 240px;
      height: 40px;
      margin: 30px 0 100px 0;
      display: block;
      border: none;
      border: 1px solid #cccccc;
      border-radius: 4px;
      padding: 0 0 0 5px;
      float: left; }
    .form .button-form {
      display: block;
      width: 160px;
      height: 40px;
      background: #ff4e50;
      border: 1px solid #ff4e50;
      border-radius: 20px;
      font-family: Montserrat;
      color: #fff;
      font-size: 14px;
      margin: 30px 0 100px 10px;
      float: left; }

  .footer {
    clear: both;
    height: 200px;
    display: block; }
    .footer .text-head {
      font-family: Montserrat;
      color: #ff4e50;
      display: table;
      margin: 40px 0 0 40px;
      font-size: 16px;
      letter-spacing: 1px;
      float: left; }
    .footer .menu-conteiner {
      display: table;
      float: left;
      margin: 40px 0 0 84px; }
    .footer .title {
      display: table;
      color: #666666;
      font-size: 14px;
      font-family: Montserrat;
      float: left; }
    .footer .title.title--new {
      margin: 40px 0 0 110px; }
    .footer .menu {
      display: table;
      margin: 10 0 0 0; }
    .footer .menu li {
      display: block;
      margin: 14px 0 0 0; }
    .footer .menu a {
      color: #666666;
      font-size: 14px;
      font-family: Roboto;
      text-decoration: none; }
    .footer .logo-conteiner {
      float: left;
      margin: 40px 0 0 100px; }
      .footer .logo-conteiner .text {
        font-size: 10px;
        display: table;
        margin: 0 0 0 0;
        color: #cccccc;
        font-family: Montserrat; }
      .footer .logo-conteiner .logo-link {
        display: table;
        margin: 10px auto 20px; } }
@media (min-width: 762px) and (max-width: 5000px) {
  .header {
    width: 100%;
    height: 700px;
    overflow: hidden;
    background: url(../../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover; }
    .header .box-button {
      display: table;
      margin: 40px 20px 0 0;
      float: right; }
      .header .box-button .button {
        font-family: Montserrat;
        font-size: 14px;
        width: 90px;
        height: 36px;
        background: none;
        border: none;
        color: #fff; }
      .header .box-button .button.button--sign {
        border: 2px solid #fff;
        border-radius: 18px; }
    .header .text-head {
      font-family: Montserrat;
      color: #fff;
      display: table;
      margin: 50px 0 0 50px;
      font-size: 20px;
      letter-spacing: 1px; }
    .header .text-head.text-head--content {
      font-size: 50px;
      margin: 160px auto 0;
      text-align: center; }
    .header .text-head.text-head--bottom {
      display: table;
      margin: 20px auto;
      font-size: 18px;
      font-family: Roboto;
      text-align: center; }
    .header .button.button--find {
      display: table;
      width: 280px;
      height: 40px;
      background: #ff4e50;
      border: 1px solid #ff4e50;
      border-radius: 20px;
      font-family: Montserrat;
      color: #fff;
      font-size: 14px;
      margin: 0 auto; }

  .article {
    display: table;
    margin: 0 auto; }
    .article .text-head.text-head--article {
      margin: 40px auto 16px;
      font-family: Montserrat;
      display: block;
      color: #333333;
      font-size: 22px;
      display: table; }
    .article .item-article {
      width: 232px;
      height: 400px;
      overflow: hidden;
      float: left;
      margin: 30px 7px 100px 7px;
      position: relative; }
      .article .item-article .box-control-next,
      .article .item-article .box-control-prev {
        display: block;
        width: 30px;
        height: 56px;
        position: absolute; }
        .article .item-article .box-control-next img,
        .article .item-article .box-control-prev img {
          width: 30px;
          height: 56px; }
      .article .item-article .box-control-next {
        float: right;
        margin: -300px 0 0 180px; }
      .article .item-article .box-control-prev {
        float: left;
        margin: -300px 0 0 20px; }
    .article .list {
      list-style-type: none;
      display: block;
      width: 470px;
      height: 400px;
      overflow: hidden;
      position: relative; }
      .article .list .box-1,
      .article .list .box-2,
      .article .list .box-3 {
        width: 232px;
        height: 400px; }
        .article .list .box-1 .button.button--step,
        .article .list .box-2 .button.button--step,
        .article .list .box-3 .button.button--step {
          margin: 200px 0 0 20px;
          width: 70px;
          height: 20px;
          border-radius: 10px;
          border: 1px solid #ff4e50;
          background: #ff4e50;
          font-family: Montserrat;
          font-weight: normal;
          color: #fff;
          font-size: 10px;
          letter-spacing: 1px; }
        .article .list .box-1 .text-head.text-head--title-box,
        .article .list .box-2 .text-head.text-head--title-box,
        .article .list .box-3 .text-head.text-head--title-box {
          margin: 10px 0 0 20px;
          font-size: 22px;
          color: #fff;
          font-family: Montserrat; }
        .article .list .box-1 .text-head.text-head--article-box,
        .article .list .box-2 .text-head.text-head--article-box,
        .article .list .box-3 .text-head.text-head--article-box {
          margin: 18px 0 0 20px;
          color: #ccc;
          font-size: 14px; }
      .article .list .box-1 {
        background: url(../../img/background-box-1-760.jpg);
        float: left; }
      .article .list .box-2 {
        background: url(../../img/background-box-2-760.jpg);
        float: left; }
      .article .list .box-3 {
        background: url(../../img/background-box-3-760.jpg);
        float: left; }

  .middle .middle-title {
    color: #333333;
    font-family: Montserrat;
    font-size: 20px;
    margin: 30px auto 40px;
    display: table;
    text-align: center; }
  .middle .conteiner-box {
    display: table;
    margin: 0 auto; }
  .middle .middle-box {
    margin: 0 3px 40px 3px;
    display: table;
    float: left;
    width: 200px; }
    .middle .middle-box .img-box {
      width: 121px;
      height: 121px;
      margin: 0 auto;
      position: relative; }
      .middle .middle-box .img-box .face {
        position: absolute; }
      .middle .middle-box .img-box .icon {
        position: absolute;
        margin: 85px 0 0 85px; }
    .middle .middle-box .text-content {
      text-align: center;
      color: #666666;
      font-size: 14px;
      font-family: Roboto; }
  .middle .middle-button {
    margin: 0 auto 30px;
    display: block;
    width: 190px;
    height: 40px;
    box-sizing: border-box;
    background: none;
    border: none;
    border: 2px solid #ff4e50;
    border-radius: 20px;
    font-style: Montserrat;
    font-size: 14px;
    color: #ff4e50;
    clear: both; }

  .tablet .tablet-title {
    color: #333333;
    font-family: Montserrat;
    font-size: 20px;
    margin: 30px auto;
    display: table;
    text-align: center; }
  .tablet .tablet-box {
    height: 1000px;
    display: block;
    width: 1000px;
    margin: 0 auto;
    /* clearfix */ }
    .tablet .tablet-box .grid {
      display: table;
      max-width: 960px; }
      .tablet .tablet-box .grid .grid-item {
        position: relative;
        display: block;
        width: 300px;
        height: 310px;
        float: left;
        border: 2px solid #333;
        border-color: #fff;
        border-radius: 8px;
        margin: 0 0 16px 16px;
        overflow: hidden; }
      .tablet .tablet-box .grid .grid-item--width2 {
        width: 620px; }
      .tablet .tablet-box .grid .image {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden; }
      .tablet .tablet-box .grid .title-image {
        color: #fff;
        position: relative;
        display: block;
        font-weight: bold;
        font-style: Montserrat;
        z-index: 99;
        font-size: 22px;
        margin: -170px auto 0;
        text-align: center;
        width: 200px;
        height: 30px; }
    .tablet .tablet-box .grid:after {
      content: '';
      display: block;
      clear: both; }

  .conteiner-form {
    border-bottom: 4px solid #ff4e50;
    display: block; }

  .form {
    display: table;
    margin: 0 auto; }
    .form .form-title {
      text-align: center;
      color: #666666;
      font-size: 18px;
      font-family: Roboto; }
    .form .send {
      width: 240px;
      height: 40px;
      margin: 30px 0 100px 0;
      display: block;
      border: none;
      border: 1px solid #cccccc;
      border-radius: 4px;
      padding: 0 0 0 5px;
      float: left; }
    .form .button-form {
      display: block;
      width: 160px;
      height: 40px;
      background: #ff4e50;
      border: 1px solid #ff4e50;
      border-radius: 20px;
      font-family: Montserrat;
      color: #fff;
      font-size: 14px;
      margin: 30px 0 100px 10px;
      float: left; }

  .footer {
    clear: both;
    height: 200px;
    display: block; }
    .footer .text-head {
      font-family: Montserrat;
      color: #ff4e50;
      display: table;
      margin: 40px 0 0 250px;
      font-size: 16px;
      letter-spacing: 1px;
      float: left; }
    .footer .menu-conteiner {
      display: table;
      float: left;
      margin: 40px 0 0 84px; }
    .footer .title {
      display: table;
      color: #666666;
      font-size: 14px;
      font-family: Montserrat;
      float: left; }
    .footer .title.title--new {
      margin: 40px 0 0 100px; }
    .footer .menu {
      display: table;
      margin: 10 0 0 0; }
    .footer .menu li {
      display: block;
      margin: 14px 0 0 0; }
    .footer .menu a {
      color: #666666;
      font-size: 14px;
      font-family: Roboto;
      text-decoration: none; }
    .footer .logo-conteiner {
      float: left;
      margin: 40px 0 0 370px; }
      .footer .logo-conteiner .text {
        font-size: 10px;
        display: table;
        margin: 0 0 0 0;
        color: #cccccc;
        font-family: Montserrat; }
      .footer .logo-conteiner .logo-link {
        display: table;
        margin: 10px auto 20px; } }

/*# sourceMappingURL=style.css.map */
