<!DOCTYPE html>
<html lang="en">
<head>
	<title>URLAUBSGLÜCK</title>
	<meta charset="UTF-8">
	<!-- <link rel="stylesheet" href="css/style-mediaqueries.css"> -->
	<link rel="stylesheet" href="styles/dist/style.min.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script type="text/javascript" src="js/src/modernizr.js"></script>
	<script type="text/javascript" src="js/src/jquery.jcarousel.js"></script>
	<script type="text/javascript" src="js/src/jcarousel.transitions.js"></script>
	<script type="text/javascript" src="js/src/requests.js"></script>
	<script type="text/javascript" src="js/src/tmpl.js"></script>
	<script type="text/javascript" src="js/src/masonry.init.js"></script>
	<script type="text/javascript" src="js/src/masonry-docs.min.js"></script>
	<script type="text/javascript" src="js/dist/script.main.js"></script>
</head>
<body>
	<!-- main box -->
	<main class="wraper">
		<!-- header -->
		<header class="header">
			<form class="box-button">
				<input type="submit" class="button" value="Log In">
				<input type="submit" class="button button--sign" value="Sign Up">
			</form>
			<p class="text-head">URLAUBSGLÜCK</p>
			<p class="text-head	text-head--content">SHARE YOUR<br>HOLIDAY DREAMS</p>
			<p class="text-head text-head--bottom">And find the perfect partner to fullfill it</p>
			<input type="submit" class="button button--find" value="Find your holiday partner">
		</header><!-- end header -->
		<div class="article">
			<p class="text-head text-head--article">How Urlaubsglück works?</p>
			<div class="item-article">
				<ul class="list">
					<li class="box-1">
						<input type="submit" class="button button--step" value="STEP 1">
						<p class="text-head	text-head--title-box">Sed leo enim,<br>condimentum</p>
						<p class="text-head text-head--article-box">Quisque libero libero, dictum non turpis in,<br>luctus semper lorem. Donec rhoncus a leo<br>sit amet facilisis.</p>
					</li>
					<li class="box-1">
						<input type="submit" class="button button--step" value="STEP 1">
						<p class="text-head	text-head--title-box">Sed leo enim,<br>condimentum</p>
						<p class="text-head text-head--article-box">Quisque libero libero, dictum non turpis in,<br>luctus semper lorem. Donec rhoncus a leo<br>sit amet facilisis.</p>
					</li>
				</ul>
				<a href="#" class="box-control-prev"><img src="img/row-left.png" alt=""></a>
                <a href="#" class="box-control-next"><img src="img/row-right.png" alt=""></a>
			</div>
			<div class="item-article">
				<ul class="list">
					<li class="box-2">
						<input type="submit" class="button button--step" value="STEP 2">
						<p class="text-head	text-head--title-box">Morbi velit risus</p>
						<p class="text-head text-head--article-box">Nulla venenatis tempor dui in molestie.<br> Nulla quis dictum purus, sit amet porttitor<br>est.</p>
					</li>
					<li class="box-2">
						<input type="submit" class="button button--step" value="STEP 2">
						<p class="text-head	text-head--title-box">Morbi velit risus</p>
						<p class="text-head text-head--article-box">Nulla venenatis tempor dui in molestie.<br> Nulla quis dictum purus, sit amet porttitor<br>est.</p>
					</li>
				</ul>
				<a href="#" class="box-control-prev"><img src="img/row-left.png" alt=""></a>
                <a href="#" class="box-control-next"><img src="img/row-right.png" alt=""></a>
			</div>
			<div class="item-article">
				<ul class="list">
					<li class="box-3">
						<input type="submit" class="button button--step" value="STEP 3">
						<p class="text-head	text-head--title-box">Sed leo enim,<br>condimentum</p>
						<p class="text-head text-head--article-box">Quisque libero libero, dictum non turpis in,<br>luctus semper lorem. Donec rhoncus a leo<br>sit amet facilisis.</p>
					</li>
					<li class="box-3">
						<input type="submit" class="button button--step" value="STEP 3">
						<p class="text-head	text-head--title-box">Sed leo enim,<br>condimentum</p>
						<p class="text-head text-head--article-box">Quisque libero libero, dictum non turpis in,<br>luctus semper lorem. Donec rhoncus a leo<br>sit amet facilisis.</p>
					</li>
				</ul>
				<a href="#" class="box-control-prev"><img src="img/row-left.png" alt=""></a>
                <a href="#" class="box-control-next"><img src="img/row-right.png" alt=""></a>
			</div>
		</div>
		<div class="middle">
			<p class="middle-title">Meet a partner for your best holiday</p>
			<div class="conteiner-box">
				<div class="middle-box">
					<div class="img-box">
						<img src="img/face1.png" alt="face" class="face">
						<img src="img/icon1.png" alt="icon" class="icon">
					</div>
					<p class="middle-title middle-title--name">Bradley Hunter</p>
					<p class="text-content">Based in Chicago.I love playing<br>tennis and loud music.</p>
				</div>
				<div class="middle-box">
					<div class="img-box">
						<img src="img/face2.png" alt="face" class="face">
						<img src="img/icon2.png" alt="icon" class="icon">
					</div>
					<p class="middle-title middle-title--name">Lucas Marsha</p>
					<p class="text-content">I get my inspiration from nature<br>and objects around me. I have a <br>passion to colours, typography and <br>skateboards.</p>
				</div>
				<div class="middle-box">
					<div class="img-box">
						<img src="img/face3.png" alt="face" class="face">
						<img src="img/icon3.png" alt="icon" class="icon">
					</div>
					<p class="middle-title middle-title--name">Heather Walker</p>
					<p class="text-content">I'm a happy person that loves cats <br>and climbing on mountains.</p>
				</div>
				<div class="middle-box">
					<div class="img-box">
						<img src="img/face4.png" alt="face" class="face">
						<img src="img/icon4.png" alt="icon" class="icon">
					</div>
					<p class="middle-title middle-title--name">Bradley Hunter</p>
					<p class="text-content">ased in Chicago. I love playing <br>tennis and loud music.</p>
				</div>
				<input type="submit" class="middle-button" value="See other partners">
			</div>
		</div>
		<div class="tablet">
			<p class="tablet-title">Discover holiday activity <br>ideas</p>
			<div class="tablet-box">
				<script type="text/template" id="wrapper-template">
					<div id="container">
						<% for(var i = 0; i < hits.length-13; i++) {%>
							<div class="item picture">
								<img src="<%=hits[i].webformatURL%>" class="image">
								<span class="title-image"><%=hits[i].tags %></span>
							</div>
						<% } %>
					</div>
				</script>
			</div>
			<p class="tablet-title">Discover holiday activity <br>ideas</p>
		</div>
		<div class="conteiner-form">
			<form action="" class="form">
				<p class="form-title">Hi! What are your holiday interests?</p>
				<input type="text" class="send" placeholder="Enter your interests" id="search">
				<input type="submit" class="button-form" value="Search partners">
			</form>
		</div>
		<footer class="footer">
			<p class="text-head">URLAUBSGLÜCK</p>
			<div class="menu-conteiner">
				<p class="title">Company</p>
				<nav>
					<ul class="menu">
						<li><a href="">About</a></li>
						<li><a href="">Contacts</a></li>
						<li><a href="">Press</a></li>
						<li><a href="">Blog</a></li>
					</ul>
				</nav>
			</div>
			<p class="title title--new">Partners</p>
			<div class="logo-conteiner">
				<p class="text">DESIGNED BY</p>
				<a href="#" class="logo-link"><img src="img/logo.png" alt="logo" class="logo"></a>
			</div>
		</footer>
	</main>
</body>
